body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("../images/bcg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto; }

.header {
  width: 100%;
  padding: 0;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header .socials {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 0.5rem; }
    .header .socials__item {
      font-size: 1.2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 2rem;
      height: 2rem;
      background-color: #fff;
      border-radius: 50%;
      margin: 0.1rem 0.3rem; }
      .header .socials__item:hover {
        cursor: pointer;
        -webkit-transition: all 300ms ease-in;
        -o-transition: all 300ms ease-in;
        transition: all 300ms ease-in;
        color: #9a653c; }

.content {
  width: 95%;
  max-width: 90rem;
  padding: 1.2rem 0;
  margin: 0 auto; }
  .content .weather {
    width: 100%;
    color: #9a653c;
    text-align: center; }
    .content .weather__title {
      font-size: 2rem;
      padding: 0.5rem;
      text-shadow: 1px 1px 3px #000, 1px 1px 3px #000; }
    .content .weather__subtitle {
      font-size: 2rem;
      padding: 0.5rem;
      text-shadow: 1px 1px 3px #000, 1px 1px 3px #000;
      font-size: 1.2rem; }
    .content .weather__check {
      width: 100%; }
    .content .weather__input {
      width: 80%;
      max-width: 15rem;
      border-radius: 0.2rem;
      border: none;
      outline: none;
      padding: 0.5rem;
      text-indent: 1rem;
      color: #9a653c;
      margin: 1rem auto 3rem; }
    .content .weather__button {
      padding: 1rem;
      border-radius: 0.2rem;
      outline: none;
      border: none;
      background-color: #9a653c;
      -webkit-box-shadow: 1px 1px 10px #000, 1px 1px 10px #9a653c, 1px 1px 10px #000;
              box-shadow: 1px 1px 10px #000, 1px 1px 10px #9a653c, 1px 1px 10px #000;
      display: block;
      font-size: 1rem;
      width: 8rem;
      padding: 0.5rem;
      margin: 2rem auto; }
      .content .weather__button:hover {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
        cursor: pointer;
        -webkit-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in; }
    .content .weather__boxes {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .content .weather__box {
      min-width: 10rem;
      background: rgba(255, 255, 255, 0.7);
      margin: 2rem 0;
      padding: 1rem;
      text-shadow: 1px 1px 3px #000, 1px 1px 3px #000;
      border-radius: 0.2rem;
      display: none;
      -webkit-box-shadow: 3px 3px 10px #000;
              box-shadow: 3px 3px 10px #000;
      opacity: 0;
      -webkit-animation: anime 0.5s forwards;
              animation: anime 0.5s forwards; }

@-webkit-keyframes anime {
  0% {
    height: 0;
    opacity: 0; }
  100% {
    min-height: 15rem;
    opacity: 1; } }

@keyframes anime {
  0% {
    height: 0;
    opacity: 0; }
  100% {
    min-height: 15rem;
    opacity: 1; } }
  .content .city__name {
    font-size: 2.3rem;
    padding-bottom: 1rem; }
  .content .city__weather,
  .content .city__temp,
  .content .city__wind,
  .content .city__date {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    text-shadow: 1px 1px 1px #000; }

.footer {
  width: 100%;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .footer__para {
    color: #9a653c;
    text-shadow: 1px 1px 3px #000, 1px 1px 3px #000, 1px 1px 3px #000;
    margin: 0 auto;
    height: 1.5rem;
    padding: 0.5rem; }
